
// Body
$body-bg: #ffffff;

// Borders
$border-color: #cccccc;


// Brands
$brand-primary: #6d51aa;
$brand-hover: #DAD8FF;
$brand-second: #ffae1a;
$brand-danger: #a94442;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-family-header: "Roboto", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #4c4c4c;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
