@import "variables";
body.skin-orange {
  form {
    a,
    p,
    div,
    span,
    label,
    .form-text,
    .checkbox label {
      color: $text-color;
      font-size: $font-size;
      font-weight: normal;
    }
  }
  p.form-text,
  .form-text {
    color: $text-color;
    font-size: $font-size;
    font-weight: normal;
  }

  /** buttons **/
  .btn {
    display: inline-block;
    @include border-radius(15px);
    //height: 30px;
    padding: 3px 15px;
    font-size: $font-size-input;
    font-weight: 500;
    //line-height: 19px;
    color: $brand-main-text;
    border: 1px solid $brand-main-text;
    text-decoration: none;
    @include transition-all (0.3s);
    &:hover {
      text-decoration: none;
    }
    i {
      margin-right: 10px;
    }
    &.btn-xs {
      padding: 1px 5px;
      font-size: $font-size-input;
      line-height: 1.5;
      height: auto;
      i {
        margin-right: 3px;
      }
    }
    &.btn-link {

      border: none;
      &.no-padding {
        padding: 3px 0;
      }
      &.link-blue {
        color: $brand-main;
        &:hover {
          color: $brand-secondary;
        }
      }
      &.btn-xs {
        font-size: $font-size-small;
      }
    }
    &.btn-primary {
      border-color: $brand-main;
      background-color: $brand-main;
      color: $body-bg;
      &:hover {
        i {
          color: $body-bg;
        }
        background-color: $brand-main-hover;
      }
    }
    &.btn-info {
      border-color: $brand-main;
      background-color: $body-bg;
      color: $brand-main;
      &:hover {
        background-color: $body-bg;
        border-color: $brand-secondary;
        color: $brand-secondary;
        i {
          color: $brand-secondary;
        }
      }
    }
    &.btn-default {
      border-color: $brand-main;
      background-color: $body-bg;
      color: $brand-main;
      padding: 4px 11px;
      margin-top: 5px;
      i {
        font-size: $font-size-input;
        margin: 0;
      }
      &:hover {
        color: $brand-secondary;
        border-color: $brand-secondary;
        background-color: $body-bg;
        i {
          color: $brand-secondary;
        }
      }
    }
    &.btn-danger {
      background-color: $red-color;
      &:hover {
        background-color: #AE4042;
        text-decoration: none;
        color: $brand-main-text;
      }
    }
  }

  /** nav modal-menu */
  .nav-stacked-block{
    border-right: 1px solid $brand-main;
    padding-right: 0;
  }
  .nav.modal-menu.nav-tabs.nav-stacked {
    background-color: $body-bg;
    padding: 0;
    li {
      border: none;
      border-radius: 0;
      background-color: $brand-main;
      color: $brand-main-text;
      text-decoration: none;
      margin: 0;
      padding: 10px 0 10px 15px;
      &.nav-header {
        padding: 10px 0 10px 15px;
        background-color: transparent;
        color: $text-color;
        &:hover {
          background-color: transparent;
        }
      }
      &:hover {
        background-color: $brand-main-hover;
      }
      &.active {
        color: $brand-main;
        background-color: $brand-main-text;
      }

      &.first-item,
      &.first-item.active{
        border-top: 4px solid $brand-main !important;
      }
      &.last-item,
      &.last-item.active{
        border-bottom: 4px solid $brand-main !important;
      }

    }
  }

  /** input-pills */
  .input-group.input-pills{
    display: table;
    width:100%;
    input[type=radio],
    .iradio_flat-purple{
      display: none;
    }
    label{
      color: $brand-main-text;
      display: table-cell;
      background-color: $brand-main;
      border-radius: 0;
      background-clip: padding-box;
      @include transition-all (0.3s);
      padding: 3px 10px;
      font-size: 14pt;
      margin-right: 1px;
      border: 1px solid $brand-main;
      cursor: pointer;
      font-weight: normal;
      text-align: center;
      .hidden-xs {
        color: $brand-main-text;
      }
      &:first-of-type {
       @include border-left-radius(15px);
      }
      &:last-of-type {
       @include border-right-radius(15px);
      }
    }
    .iradio_flat-purple.checked + label,
    input[type=radio]:checked + label{
      background-color: $brand-main-text;
      border: 1px solid $brand-secondary;
      color: $brand-secondary;
      .hidden-xs {
        color: $brand-secondary;
      }
    }
  }
  /** nav nav-pills */
  .nav.nav-pills {
    color: $brand-main-text;
    li {
      border-radius: 0;
      &:first-of-type {
        a {
          @include border-left-radius(15px);
        }
      }
      &:last-of-type {
        a {
          @include border-right-radius(15px);
        }
      }
      &.active {
        a {
          background-color: $body-bg;
          border: 1px solid $brand-secondary;
          color: $brand-secondary;
          i {
            color: $brand-secondary;
          }
        }
      }
      a {
        @include border-radius(0px);
        @include transition-all (0.3s);
        padding: 3px 5px;
        font-size: $font-size-input;
        margin-right: 1px;
        border: 1px solid $brand-main;
        color: $brand-main-text;
        background-color: $brand-main;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  /** nav nav-tabs */
  .nav.nav-tabs {
    background-color: $brand-main;
    border-bottom: 0;
    li {
      border: none;
      border-radius: 0;
      margin-bottom: 0;
      &:first-of-type{
        margin-left: 10px;
      }
      a {
        border: none;
        border-radius: 0;
        background-color: $brand-main;
        color: $brand-main-text;
        text-decoration: none;
        i{
          margin-right: 5px;
        }
        &:hover {
          background-color: $brand-main-hover;
        }
      }
      &.active {
        a {
          color: $brand-main;
          background-color: $brand-main-text;
        }
      }
    }
  }
  .tab-content {
    padding: 10px;
  }

  /** form elements **/
  .form-group {
    p {
      padding-top: 7px;
    }
  }
  .form-horizontal{
    .btn{
      margin-top: 7px;
    }
  }
  .form-control {
    border: 1px solid $brand-main;
    @include border-radius(15px);
    color: $text-color;
    font-size: $font-size-input;
    padding: 5px 15px;
    line-height: 19px;
    min-height: 34px;
    margin-top: 7px;

  }
  .input-group {
    padding-top: 7px;
    .input-group-addon {
      margin-top: 7px;
      border: 1px solid $brand-main;
      background-clip: padding-box;
      font-size: $font-size-input;
      padding: 5px 15px;
      line-height: 19px;

      background-color: $brand-main;
      color: $brand-main-text;
      @include border-radius(20px 0 0 20px);
      border-right-width: 0px;
      border-left-width: 1px;
    }
    .form-control {
      border-right-width: 1px;
      border-left-width: 0px;
      margin-top: 0;
    }
    &.input-group-addon-left {
      .input-group-addon {
        @include border-radius(20px 0 0 20px);
        border-right: 0;
      }
      .form-control {
        margin-top: 0;
        border-right-width: 1px;
        border-left-width: 0px;
      }
    }
    &.input-group-addon-right {
      .input-group-addon {
        @include border-radius(0 20px 20px 0);
        border-right-width: 1px;
        border-left-width: 0px;
      }
      .form-control {
        border-right-width: 0px;
        border-left-width: 1px;
        margin-top: 0;
      }
    }

  }

  /** select 2 **/
  .select2 {
    margin-top: 7px;
    width: 100% !important;
    color: $text-color;
    padding: 0;
    .select2-selection {
      border: 1px solid $brand-main;
      @include border-radius(15px);
      font-size: $font-size-input;
      padding: 0;
      height: auto;
      color: $text-color;
      min-height: 34px;
      .select2-selection__rendered {
        padding: 2px 15px;
        margin: 0;
        color: $text-color;
      }
    }
    .select2-selection__arrow {
      top: 3px;
      right: 10px;
      b {
        border-width: 7px 6px 0 6px;
        border-color: $brand-main transparent transparent transparent;
      }
    }
  }
  .select2-container.select2-container--open ul.select2-results__options li .dd_text{
    color: $brand-main-text;
  }
  .select2-container--open .select2-dropdown {
    border: none;
  }
  .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: $brand-main-hover;
  }
  .select2-selection.select2-selection--multiple {
    height: 32px;
    .select2-selection__clear {
      margin-top: 1px;
      margin-right: -2px;
      color: $text-color;
    }
  }
  .select2-container--default .select2-selection--multiple {
    .select2-selection__rendered {
      .select2-selection__choice {
        background-color: $brand-main;
        color: $brand-main-text;
        border: none;
        border-radius: 15px;
        cursor: default;
        float: left;
        margin-right: 5px;
        margin-top: 0;
        padding: 0 10px;
        .select2-selection__choice__remove {
          color: $brand-main-text;
        }
      }
      .select2-search__field {
        margin: 0;
      }
    }
  }
  .select2-container.select2-container--open {
    .select2-selection__clear {
      color: $brand-main-text;
    }
    .select2-selection {
      background-color: $brand-main;
      .select2-selection__rendered {
        @include border-radius(15px);
        border: 2px solid $brand-main-text;
        color: $brand-main-text;
        min-height: 34px;
      }
    }
    .select2-selection__arrow {
      b {
        border-width: 0 6px 7px 6px;
        border-color: transparent transparent $brand-main-text transparent;
      }
    }
    ul.select2-results__options {
      background-color: $brand-main;
      @include border-bottom-radius(15px);
      border: none;
      li {
        padding-left: 15px;
        color: $brand-main-text;
        &:focus,
        &:hover {
          background-color: $brand-main-hover;
        }
        &.select2-results__option--highlighted {
          background-color: $brand-main-hover;
          &:focus,
          &:hover {
            background-color: $brand-main-hover;
          }
        }
      }
    }

    .select2-dropdown--below{
      ul.select2-results__options {
        @include border-bottom-radius(15px);
      }
    }
    .select2-dropdown--above{
      ul.select2-results__options {
        @include border-top-radius(15px);
        @include border-bottom-radius(0);
      }
    }
  }
  .select2-container{
    .select2-dropdown{
      .nicescroll-rails {
        background: rgba(255,174,26,0.1);
      }
    }
  }

  /** bootstrap select **/
  .bootstrap-select {
    width: 100% !important;
    .bs-caret {
      right: 15px;
      .caret {
        color: $text-color;
      }
    }
    &.open {
      .btn-default {
        width: 98%;
        border: 1px solid $brand-main-text;
        color: $brand-main-text;
        margin: 0 1%;
        background-color: $brand-main;
        z-index: 10000;
        span,
        .caret {
          color: $brand-main-text;
        }
      }
    }

    .btn-default {
      width: 100%;
      border: 1px solid $brand-main;
      @include border-radius(15px);
      font-size: $font-size-input;
      padding: 3px 15px;
      //line-height: 19px;
      height: auto;
      color: $brand-main;
      .filter-option {
        color: $brand-main;
      }
    }
    .dropdown-menu {
      background-color: $brand-main;
      border: 1px solid #FFFFFF;
      padding: 39px 0 10px 0;
      margin-top: -38px;
      z-index: 1000;
      @include border-radius(22px);
      li {
        color: $brand-main-text;
        span {
          color: $brand-main-text;
        }
        a {
          color: $brand-main-text;
          background-color: $brand-main;
          outline: none;
          &:hover {
            outline: none;
            background-color: $brand-main-hover;
          }
        }
        &.selected {
          a {
            outline: none;
            color: $brand-main-text;
            background-color: $brand-main-hover;
          }
        }
      }
    }
  }
  select.form-control {
    option {
      &:checked,
      &:hover {
        color: $brand-main-text !important;
        background-color: $brand-main !important;
        box-shadow: 0 0 10px 100px $brand-main inset !important;
      }
    }
    &:focus > option:checked,
    &:focus > option:hover {
      color: $brand-main-text !important;
      background-color: $brand-main !important;
      box-shadow: 0 0 10px 100px $brand-main inset !important;
    }
  }
  /** alternative control **/
  .alt-control-bar{
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12{
      padding-left: 1px;
      padding-right: 1px;
    }
    table{
      thead,tbody{
        tr{
          td,th{
            padding: 5px;
          }
        }
      }
    }
    .btn.btn-add,
    .btn.btn-remove,
    .btn.btn-danger{
      margin-left: 10px;
      color: $red-color;
      background-color: transparent;
      @include border-radius(0);
      padding: 1px;
      font-size: $font-size-input;
      i{
        font-size: $font-size-input;
      }
      &:hover{
        background: transparent;
        color: $brand-secondary;
        i{
          color: $brand-secondary;
        }
      }
    }
    .btn.btn-remove{
      background-color: transparent;
      &:hover {
        background-color: transparent;
        text-decoration: none;
        color: $brand-secondary;
        i{
          color: $brand-secondary;
        }
      }
      .fa-plus-circle{
        display: none;
      }
      .fa-trash-o{
        display: inline-block;
      }

      &:hover{
        color: $brand-main-hover;
      }
    }
    .btn.btn-add{
      color: $brand-main;
      .fa-plus-circle{
        display: inline-block;
      }
      .fa-trash-o{
        display: none;
      }

      &:hover{
        color: $brand-main-hover;
      }
    }
    .form-control,
    &.form-control{
      border: 1px solid $brand-main-text;
      @include border-radius(0);
      color: $text-color;
      background-color: rgba(0,0,0,0.1);
      font-size: $font-size;
      padding: 5px 15px;
      //line-height: 19px;
      height: 30px;
      margin: 0;
      &:hover,
      &:hover,
      &:focus {
        background-color: rgba(0,0,0,0.1);
        border-color: $brand-main-text;
        outline: 0;
        box-shadow: none;
      }
    }
    select.form-control {
      > option {
        &:checked,
        &:hover {
          color: $text-grey-color !important;
          background-color: rgba(0,0,0,0.2) !important;
          box-shadow: 0 0 10px 100px rgba(0,0,0,0.2) inset !important;
          background: #6D51AA repeat url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2PIDVz1HwAE/wJoMeu6HgAAAABJRU5ErkJggg==");
        }
      }
      &:focus > option:checked,
      &:focus > option:hover {
        color: $text-grey-color !important;
        background-color: rgba(0,0,0,0.2) !important;
        box-shadow: 0 0 10px 100px rgba(0,0,0,0.2) inset !important;
        background: #6D51AA repeat url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2PIDVz1HwAE/wJoMeu6HgAAAABJRU5ErkJggg==");
      }
    }

    .select2-container--alt-control,
    .select2{
      margin-top: 0;
      width: 100% !important;
      color: $text-color;
      padding: 0;
      .select2-selection{
        border: 1px solid $brand-main-text;
        @include border-radius(0);
        color: $text-color;
        background-color: rgba(0,0,0,0.1);
        font-size: $font-size;
        padding: 0;
        //line-height: 19px;
        height: 30px;
        margin: 0;
        .select2-selection__rendered {
          padding: 1px  15px 0 15px ;
          margin: 0;
          color: $text-color;
        }
      }
      .select2-selection__arrow {
        height: 26px;
        position: absolute;
        width: 20px;
        top: 3px;
        right: 10px;
        b {
          border-style: solid;
          height: 0;
          left: 50%;
          margin-left: -4px;
          margin-top: -2px;
          position: absolute;
          top: 50%;
          width: 0;
          border-width: 5px 4px 0 4px;
          border-color: $text-color transparent transparent transparent;
        }
      }
    }
  }
  .select2-container.select2-container--alt-control.select2-container--open{
    .select2-selection__clear {
      color: $brand-main-text;
    }
    .select2-selection {
      background-color: rgba(0,0,0,0.1);
      .select2-selection__rendered {
        @include border-radius(0);
        border: 0;
        color: $text-color;
      }
    }
    .select2-selection__arrow {
      b {
        border-width: 0 4px 5px 4px;
        border-color: transparent transparent $text-color transparent;
      }
    }
    ul.select2-results__options {
      max-height: 200px;
      overflow-y: auto;
      background-color: rgba(0,0,0,0.1);
      @include border-bottom-radius(0);
      border: none;
      li {
        padding-left: 15px;
        color: $text-color;
        &:focus,
        &:hover {
          background-color: rgba(0,0,0,0.2);
        }
        &.select2-results__option--highlighted {
          background-color: rgba(0,0,0,0.2);
          &:focus,
          &:hover {
            background-color: rgba(0,0,0,0.2);
          }
        }
      }
    }
  }
  .goods_sale{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
  }
  .datepicker-white{
    .datepicker {
      table tr td,
      table tr th {
        font-size: 12px;
        color: #444444;
      }
    }
  }
  .datepicker-week {
    .datepicker{
      .datepicker-days table tbody {
        tr{
          td{
            border-radius: 0;
            &.today.day{
              border: 1px solid $brand-secondary;
            }
            &.cw{
              color: $brand-main;
              font-weight: bold;
            }
          }
          &.active{
            background-color: $brand-main;
            th,td{
              color: $brand-main-text;
              &:hover,
              &.active{
                background-color: $brand-main;
                color: $brand-main-text;
                &.cw{
                  color: $brand-secondary;
                  background-color: #FFFFFF !important;
                }
              }
              &.cw{
                color: $brand-secondary;
                background-color: #FFFFFF !important;
              }
            }
          }
          &:hover {
            background-color: $brand-main;
            th,td{
              color: $brand-main-text;
              &:hover,
              &.active{
                background-color: $brand-main;
                color: $brand-main-text;
                &.cw{
                  color: $brand-secondary;
                  background-color: #FFFFFF !important;
                }
              }
              &.cw{
                color: $brand-secondary;
                background-color: #FFFFFF !important;
              }
            }
          }
        }
      }
    }
  }
  .form-inline,
  .form-inline.alt-control-bar {
    .label-sm {
      font-size: $font-size-small;
    }
    .form-control.form-control-sm {
      font-size: $font-size-small;
      min-height: 10px;
      padding: 2px 10px;
      line-height: 10px;
      height: 25px;
      margin-top: 7px;
      .btn-link-sm {
        font-size: $font-size-small;
        line-height: 10px;
        margin-top: 12px;
      }
      i {
        font-size: $font-size-small;
        margin-right: 3px;
      }
    }
  }



  /************************/
  #shedule-buttons,
  .operating_schedule{
    display:block;width:720px!important;
  }

  #shedule-buttons{
    &.form-horizontal.form-inline{
      .btn-link.btn-link-sm {
        font-size: $font-size-small;
        line-height: 10px;
        margin-top: 12px;
      }
      i {
        font-size: $font-size-small;
        margin-right: 3px;
      }
      .form-group{
        padding-left: 30px;
      }
    }
  }
}
/** placeholders **/
&::-webkit-input-placeholder,
&::-moz-placeholder,
&:-ms-input-placeholder ,
&:-moz-placeholder {
  color: $text-color;
  font-size: $font-size;
  padding: 0;
  @include opacity(0.8);
  font-style: italic;
}
::-webkit-input-placeholder {
  color: $text-color;
  font-size: $font-size;
  padding: 0;
  @include opacity(0.8);
  font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  color: $text-color;
  font-size: $font-size;
  padding: 0;
  @include opacity(0.8);
  font-style: italic;
}

::-moz-placeholder { /* Firefox 19+ */
  color: $text-color;
  font-size: $font-size;
  padding: 0;
  @include opacity(0.8);
  font-style: italic;
}

:-ms-input-placeholder { /* IE 10+ */
   color: $text-color;
  font-size: $font-size;
  padding: 0;
  @include opacity(0.8);
  font-style: italic;
}

::-ms-input-placeholder { /* Edge */
  color: $text-color;
  font-size: $font-size;
  padding: 0;
  @include opacity(0.8);
  font-style: italic;
}

:placeholder-shown { /* Standard one last! */
  color: $text-color;
  font-size: $font-size;
  padding: 0;
  @include opacity(0.8);
  font-style: italic;
}
.employee-content,
.resource-content{
  .select2 {
    margin-top: 7px;
  }
}

/** iCheck **/
.radio label, .checkbox label {
  padding-left: 0;
}
.icheckbox_flat-purple,
.iradio_flat-purple {
  background: url(/img/crm/plugins/iCheck/purple.png) no-repeat;
  &.white{
    background: url(/img/crm/plugins/iCheck/purple_w.png) no-repeat;
  }
}
.icheckbox_flat-purple {
  background-position: 0 0;
}
.icheckbox_flat-purple.checked {
  background-position: -22px 0;
}
.icheckbox_flat-purple.disabled {
  background-position: -44px 0;
  cursor: default;
}
.icheckbox_flat-purple.checked.disabled {
  background-position: -66px 0;
}

.iradio_flat-purple {
  background-position: -88px 0;
}
.iradio_flat-purple.checked {
  background-position: -110px 0;
}
.iradio_flat-purple.disabled {
  background-position: -132px 0;
  cursor: default;
}
.iradio_flat-purple.checked.disabled {
  background-position: -154px 0;
}
.icheckbox_flat-purple{
  vertical-align: sub;
  //border: 1px solid $brand-main;
  //border-radius: 5px;
  //background: $brand-main-text;
}

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  .icheckbox_flat-purple,
  .iradio_flat-purple {
    background-image: url(/img/crm/plugins/iCheck/purple@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
    &.white{
      background: url(/img/crm/plugins/iCheck/purple@2x_w.png) no-repeat;
    }
  }
}

#payments_content{
  display: block;
  table{
    thead{
      td{
        white-space: nowrap;
      }
    }
    td{
      border-top: none;
      border-bottom: none;
      .btn-link{
        color: $brand-main;
        i{
          color: $brand-main;
          font-size: 18px;
        }
      }
    }
    .info-section{
      display: none;
    }
    .toggle-info-section{
      .fa-caret-up{
        display: none;
      }
    }
  }
  .total-row {
    border-bottom: 2px solid #FFF !important;
    font-weight: bold;
    .section-subtotal-title{
      font-weight: bold;
    }
  }
  .delete-transaction-btn, .cancel-loyalty-btn {
    line-height: 1;
  }
  tbody.info-section,
  .section-header, .section-header tr,
  .section-subtotal {
    border: none !important;
  }
}
#reminds_content{
  .control-label{
    padding: 14px;
  }
}
.control-label{
  &.text-left{
    text-align: left;
  }
}


