@import "variables";

body.skin-orange {
  color: $text-color;
  font-family: $font-family;
  background-color: $body-bg;
  font-size: $font-size;
  .wrapper{
    overflow: hidden;
  }
  /** headers **/
  .content-header {
    padding: 0px 15px 0 15px;
    margin-bottom: 15px;
    /**breadcrumb**/
    .breadcrumb{
      margin-top: 0;
      margin-bottom: 0;
      padding: 10px 0 5px 0;
      top: 0;
      right: 0;
      position: relative;
      background: transparent !important;
      margin-left: 0;
      float: none;
      > li + li:before {
        content: '/';
      }
      > li{
        color: $text-color;
        font-size: $font-size;
        a{
          font-size: $font-size;
          color: $brand-main;
          text-decoration: none;
          &:hover{
            text-decoration: none;
            color: $brand-secondary;
          }
        }
      }

    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-family;
    font-weight: normal;
  }
  h1 {
    font-size: 28pt;
  }
  h2 {
    font-size: 17pt;
    font-weight: bold;
    color: $brand-main;
  }
  h3,
  .box-header h3{
    color: $text-color;
    font-weight: bold;
  }

  /** text **/
  a,
  p,
  div,
  span {
    color: $text-color;
    font-size: $font-size;
  }
  small,
  .help-block,
  .note{
    font-size: $font-size-small;
    font-style: italic;
    color: $text-grey-color;
  }
  /** links **/
  a ,
  a.fa {
    color: $brand-main;
    text-decoration: underline;
    @include transition-all (0.3s);
    &.white {
      color: $brand-main-text;
    }
    &:hover {
      color: $brand-secondary;
      text-decoration: underline;
    }
    &.fa{
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .fat{
    font-weight: bold;
  }

  /** boxes **/
  .box{
    &.box-solid{
      margin: 20px 0 7px;
      border: 1px solid $brand-main;
      .badge{
        display: none;
      }
      .box-header {
        color: $brand-main-text;
        background: $brand-main;
        .badge.label-danger{
          background-color: $brand-main-text !important;
          color: $brand-secondary !important;
          margin-top: 8px;
          width: 24px;
        }
        h3{
          margin: 0;
          font-size: $font-size-input;
          color: $brand-main-text;
          i {
            font-size: $font-size-input;
          }
          a{
            background: transparent;
            font-size: $font-size-input;
            color: $brand-main-text;
            text-decoration: none;
            margin-top: 0;
            &:hover{
              background: transparent;
              color: $brand-secondary;
            }
          }
        }
      }
      .box-body{
        .btn.btn-add,
        .btn.btn-remove{
          margin-top: 2px;
        }
      }
    }
    &.box-primary{
      border: none;
      box-shadow: none;
      color: $text-color;
      @include border-radius(0);
      .box-header,
      .box-header.with-border{
        border: none;
        @include border-radius(0);
        padding-left: 0;
        padding-bottom: 5px;
        color: $text-color;
        font-size: $font-size;
        font-weight: normal;
        h3{
          color: $text-color;
          font-size: $font-size-input;
          font-weight: bold;
        }
      }
      .box-body{
        padding: 10px 10px 30px 10px;
        border: 1px solid $brand-main;
        @include border-radius(15px);
        min-height: 185px;
        .boxfoot{
          margin-top: 10px;
        }
        .btn-boxfoot{
          @include border-radius(15px);
          margin: 0;
          position: absolute;
          bottom: 0;
          right: -1px;
          -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0;
          -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
          &.pull-left{
            @include border-radius(15px);
            position: absolute;
            bottom: 0;
            left: -1px;
            -webkit-border-top-left-radius: 0;
            border-top-left-radius: 0;
            -webkit-border-bottom-right-radius: 0;
            border-bottom-right-radius: 0;
          }
          &.pull-right{
            @include border-radius(15px);
            position: absolute;
            bottom: 0;
            right: -1px;
            -webkit-border-top-right-radius: 0;
            border-top-right-radius: 0;
            -webkit-border-bottom-left-radius: 0;
            border-bottom-left-radius: 0;
          }

        }
      }
    }

  }

  /** content **/
  .content-wrapper{
    background-color: $brand-main-text;
    text-align: left;
    .container{
      margin-left: 0;
    }
  }

  /** diff **/
  .jumbotron,
  .well {
    background-color: #fff;
    padding: 0;
  }
  .text-block{
    margin: 15px 0 20px 0;
  }
  .datepicker.dropdown-menu {
    z-index: 10000;
  }

  /** paginator**/
  .pagination{
    > li > a,
    > li > span {
      color: $brand-main;
      background-color: $body-bg;
      border: 1px solid $body-bg;
      padding: 0;
      line-height: 24px;
      text-decoration: none;
      margin-left: 10px;
      font-size: 90%;
      @include border-radius(15px);
      width: 26px;
      height: 26px;
      &:hover {
        border: 1px solid $brand-secondary;
        color: $brand-secondary;
      }
    }

    > li:first-of-type > span,
    > li:last-of-type > span,
    > li:last-of-type > a,
    > li:first-of-type > a{
      border: 1px solid $brand-main;
      &:hover {
        border: 1px solid $brand-secondary;
        color: $brand-secondary;
      }
    }

    > .active > span,
    > .active > a,
    > .active > a:hover,
    > .active > span:hover,
    > .active > a:focus,
    > .active > span:focus {
      color: $brand-main-text;
      background-color: $brand-main;
      border-color: $brand-main-hover;
    }
  }
  /** lists **/
  .dl-horizontal {
    dt {
      width: 250px;
    }
    dd {
      margin-left: 270px;
    }

  }
  /** alerts **/
  .alert{
    display: none;
    padding: 5px 5px 5px 0;
    margin-bottom: 15px;
    border: none;
    border-radius: 0;
    background: transparent;
    font-size: $font-size;
    line-height: 17pt;
    i.fa-info-circle{
      font-size: 15pt;
      margin-right: 5px;
    }

    &.visible{
      display: block;
    }
    .close {
      float: left;
      margin-right: 10px;
      @include opacity(1);
      i{
        font-size: 15pt;
      }
      &:hover{
        @include opacity(0.6);
      }

    }
    &.alert-error,
    &.alert-error span,
    &.alert-error .close {
      color: $red-color !important;
      background: transparent !important;
      border: 1px solid $red-color;
    }
    &.alert-success,
    &.alert-success span,
    &.alert-success .close {
      background: transparent !important;
      color: #75AD4C !important;
      border: 1px solid #75AD4C;
      padding: 5px;
    }
  }

}
.cc_color{
  display: inline-block;
  border: 1px solid #FFF;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  margin-right: 5px;
  line-height: 36px;
  vertical-align: text-top;
}
.loadingbox{
  position: relative;
  text-align: center;
  &:after{
    text-align: center;
    content: "";
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8) url("/img/widget/ajax-loader2.gif") no-repeat scroll 50% 50%;
  }
}

#body_payments #payments_content #appointment_sum_block{
  border-bottom: 1px solid #FFF !important;
}

#service_categories_grid_service_category_id,
#services_grid_service_id,
#services_grid_duration,
#services_grid_price_max,
#services_grid_price_min,
#clients_grid_total_bought,
#users_grid_user_id,
#clients_grid_discount{
  div.ui-th-div{
    text-align: center;
  }
}
.inline-block{
  display: inline-block;
}

#card-items.disabled{
  &:after{
    text-align: center;
    content: "";
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7) ;
    cursor: not-allowed;
  }
}
