@import "variables";
body.skin-orange {
  .modal.fade{
    .modal-content{
      .modal-header{
        background-color: $brand-main;
        color: $brand-main-text;
        border-radius: 5px 5px 0 0;
        .close{
          margin-top: 1px;
          span{
            color: $brand-main-text;
            font-size: 15pt;
          }
        }
        &.modal-header-empty{
          background-color: $brand-main-text;
          border-bottom: none;
          border-radius: 5px 5px 0 0;
          .close{
            color: $brand-main;
            margin-top: 1px;
            span{
              color: $brand-main;
            }
          }
        }
      }
    }
    .modal-footer{
      .checkbox{
        label{
          font-size: 15px;
          .icheckbox_flat-purple{
            margin-right: 5px;
          }
        }
      }
    }
  }
  .modal-backdrop.fade.in{
    z-index: -1;
    display: none !important;
  }
}