@import "variables";
body.skin-orange {
  .ui-jqgrid{
    border: none;
    border-radius: 0;
    .ui-jqgrid-bdiv table.table-bordered td{
      border-left: none;
      border-right: none;
      border-bottom: none;
      border-top: 1px solid #FFFFFF;
    }
    .ui-jqgrid-hbox,
    .ui-jqgrid-hdiv{
      padding: 0;
    }
    .ui-jqgrid-pager{
      padding-right: 20px;
      border: none;
    }
    .ui-pager-control{
      table.ui-pg-table{
        td{
          border: none;border-left: none;
          border-right: none;
          border-bottom: none;
          padding: 3px;
          border-top: 1px solid #FFFFFF;
        }
        tr, td, th, div, span{
          background-color: transparent;
          font-size: $font-size-small;
          line-height: normal;
          &:hover{
            background-color: transparent;
          }
          input.ui-pg-input{
            padding: 3px 5px ;
            line-height: normal;
            margin-top: 0;
            font-size: $font-size-small;
            width: 35px;
            text-align: center;
          }
        }

        .glyphicon{
          font-size: $font-size-small;
          color: $brand-main;
          &:hover{
            color: $brand-secondary;
          }
        }
      }
    }
  }
  table{
    &.ui-jqgrid-btable,
    &.ui-common-table,
    &.table{
      background-color: $body-bg;
      margin: 0;
      thead{
        tr{
          background-color: rgba(0,0,0,0.4);
          color: $brand-main-text;
          td,th{
            background-color: transparent;
            border-bottom: 2px solid #FFF;
            color: $brand-main-text;
            font-size: $font-size;
            text-transform: uppercase;
            line-height: normal;
            padding: 5px;
            &:hover{
              background-color: transparent;
            }
            div,
            span{
              color: $brand-main-text;
              font-size: $font-size;
              &.ui-th-div{
                height: auto;
                margin: 0;
                padding: 5px;
              }
              &.ui-icon-desc {
                margin-top: 12px;
              }
              &.ui-icon-asc {
                margin-top: -1px;
              }
            }
          }
          &:hover{
            color: $brand-main-text;
            background-color: rgba(0,0,0,0.4);
          }
        }
      }
      tbody tr,
      tr {
        background-color: rgba(0,0,0,0.1);
        color: $text-color;
        td,th{
          color: $text-color;
          border-top: 1px solid #FFFFFF;
          font-size: $font-size;
          border-left: none;
          border-right: none;
          border-bottom: none;
        }
        &:hover{
          background-color: #F7F7F9;
        }
      }
      .table-action-link{
        margin: 0 4px;
        color: $text-color;
        @include opacity(0.8);
        &:hover{
          @include opacity(1);
        }
      }
    }
  }
  .clients-grid-block{
    //min-height: 650px;
  }
  /** расписание **/
  .table-shedule{
    width: 100%;
    border-collapse: collapse;
    display: table;
    font-size: 11px;
    td,
    th{
      span{
        color:$text-color;
        font-size: 11px;
        font-weight: normal;
      }
      text-align: center;
      vertical-align: middle;
    }
    thead{
      display: table-header-group;
      vertical-align: middle;
      border-color: inherit;
      th{
        cursor: pointer;
        &:hover{
          span{
            color: $brand-secondary;
          }
        }
      }
    }
    tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
      td{
        font-size: 11px;
        color:$text-color;
        border: 1px solid #ccc;
        padding: 1px 1px 1px 5px;
        cursor: pointer;
        display: table-cell;
        text-align: center;
        width:30px;
        &.legend {
          border: 1px solid #fff !important;
          border-right: 1px solid #ccc !important;
          cursor: pointer;
          &:hover{
            span{
              color: $brand-secondary;
            }
          }
        }
        a{
          text-decoration: none;
          float: left;
          font-weight: normal !important;
          font-size: 13px;
          height: 17px;
          padding: 0 !important;
          width: 16px;
          // display: none;
          display: inline-block;
          visibility: hidden;
          border-radius: 50%;
          color: #fff;
          border: 0;
          margin: 0;
          background: $brand-main;
          @include transition-all (0s);
        }
        &:hover,
        &.ui-datepicker-hover-day,
        &.ui-datepicker-current-day{
          width:30px;
          a{
            visibility: visible;
          }
        }
        &.ui-datepicker-hover-day,
        &.ui-datepicker-current-day{
          a{
            background: $brand-main;
          }
        }
        &:hover{
          a{
            background: $brand-secondary;
          }
        }
        &.ui-datepicker-hover-day{
          a{
            //display: inline-block;
            visibility: visible;
            background: $brand-secondary;
          }
        }

      }
    }

  }
}