@import "variables";

body.skin-orange{
  color: $text-color;
  font-family: $font-family;
  background-color: $body-bg;
  font-size: $font-size;
  h1,h2,h3,h4,h5,h6{
    font-family: $header-font-family;
    font-weight: normal;
  }
  h1{
    font-size: 30pt;
  }
  a {
    color: $brand-main;
    text-decoration: underline;
    &:hover{
      color: $brand-secondary;
      text-decoration: none;
    }
  }
  /** buttons **/
  .btn{
    border-radius: 15px;
    height: 30px;
    padding: 4px 15px;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    color: $brand-main-text;
    border: 1px solid $brand-main-text;
    text-decoration: none;
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
    i{
      margin-right: 10px;
    }
    &.btn-xs{
      padding: 1px 5px;
      font-size: 75%;
      line-height: 1.5;
      height: auto;
      i{
        margin-right: 3px;
      }
    }
    &.btn-link{
      border: none;
    }
    &.btn-primary{
      border-color: $brand-main;
      background-color: $brand-main;
      color: $body-bg;
      &:hover{
        i{
          color: $body-bg;
        }
        background-color: $brand-main-hover;
      }
    }
    &.btn-info{
      border-color: $brand-main;
      background-color: $body-bg;
      color: $brand-main;
      &:hover{
        color: $brand-secondary;
        background-color: $body-bg;
        border-color: $brand-secondary;
        i{
          color: $brand-secondary;
        }
      }
    }
    &.btn-default{
      padding: 7px 8px;
      border-color: $brand-main;
      background-color: $body-bg;
      color: $brand-main;
      i{
        margin: 0;
      }
      &:hover{
        color: $brand-secondary;
        border-color: $brand-secondary;
        background-color: $body-bg;
        i{
          color: $brand-secondary;
        }
      }
    }
    &.btn-danger{
      background-color: #C34749;
      &:hover{
        background-color: #AE4042;
        text-decoration: none;
        color: $brand-main-text;
      }
    }
  }

  /** boxes **/
  .box{
    border-top-color: $brand-main;
  }

  /** nav nav-tabs */
  .nav{
    &.nav-tabs{
      li{
        a{
          background-color: $brand-main-text;
          text-decoration: none;
          border-bottom: 1px solid #ddd;
        }
        &.active{
          a{
            background-color: $brand-main-text;
            text-decoration: none;
            border-bottom: 1px solid transparent;

          }
        }
      }
    }
  }
  /** header **/
  .main-header{
    height: 60px;
    background-color: $brand-main;
    color: $body-bg;
    .navbar-static-top{
      height: 60px;
      margin-left: 0;
      .navbar-custom-menu{
        width: 100%;
        .logo{
          float: right;
          margin: 0;
          height: 60px;
          line-height: 60px;
          width: auto;
          img{
            height: 52px;
            width: auto;
            margin: 0 0 8px 0;
          }
        }
        .login{
          height: 60px;
          background-color: $brand-main;
          color: $body-bg;
          line-height: 60px;
          width:auto;
          float: left;
          img{
            margin: 15px 8px 0 20px;
            width: 27px;
            height: auto;
            float: left;
          }
          &>a{
            margin: 0 5px 0 3px ;
            color: $body-bg;
            font-size: 120%;
            font-weight: bold;
            transition: All 0.3s ease;
            -webkit-transition: All 0.3s ease;
            -moz-transition: All 0.3s ease;
            -o-transition: All 0.3s ease;
            background: transparent;
            text-decoration: none;
            &:hover{
              background: transparent;
              color:$brand-secondary;
              text-decoration: none;
            }
          }

          .dropdown {
            position: relative;
            display: inline-block;
            line-height: 58px;
            .caret{
              border-top: 4px dashed #fff;
              margin-bottom: 8px;
            }
            .dropbtn {
              background-color: transparent;
              color: white;
              padding: 0 0 0 28px;
              font-size: 16px;
              cursor: pointer;
              border: none;
              &.btn-flag{
                &.ru{
                  background: url(/img/crm/flags/ru.png) 0 0 no-repeat;
                }
                &.en{
                  background: url(/img/crm/flags/us.png) 0 0 no-repeat;
                }
                &.es{
                  background: url(/img/crm/flags/es.png) 0 0 no-repeat;
                }
              }
            }
            &:hover {
              .dropbtn {
                background-color: #3e8e41;
              }
              .dropdown-content {
                display: block;
              }
            }
          }
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            min-width: 110px;
            z-index: 1000;
            top: 45px;
            a {
              color: black;
              text-decoration: none;
              display: block;
              &.lang-flag{
                font-size: 13px;
                padding: 0 5px 0 38px;
                line-height: 35px;
                &.ru{
                  background: url(/img/crm/flags/ru.png) 5px center no-repeat;
                }
                &.en{
                  background: url(/img/crm/flags/us.png) 5px center no-repeat;
                }
                &.es{
                  background: url(/img/crm/flags/es.png) 5px center no-repeat;
                }
                &.ca{
                  background: url(/img/crm/flags/ca.png) 5px center no-repeat;
                }
                &:hover {
                  background-color: #f1f1f1
                }
              }
            }
          }
        }

      }
    }

  }
  /** sidebar **/
  .main-sidebar {
    background-color: $brand-secondary-dark;
    color:$brand-secondary-text;
    padding-top: 60px;
    .sidebar-toggle {
      text-decoration: none;
      float: none;
      background-color: transparent;
      padding: 0;
      font-family: fontAwesome;
      color: $brand-main;
      position: absolute;
      right: -30px;
      height: 20px;
      width: 20px;
      font-size: 21px;
      padding: 10px 0;
      i{
        font-size: 21px;
      }
    }
    .user-panel{
      background-color: $brand-secondary;
      margin-bottom: 2px;
      a{
        color: $body-bg;
        text-decoration: none;
        &:hover{
          color: $body-bg;
          text-decoration: underline;
        }
      }
      small, .small {
        font-size: 75%;
      }
      .links{
        margin-top: 15px;
      }
    }
    .sidebar-menu{
      i{
        font-size: 16px;
      }
      >li {
        >a{
          font-size: 100%;
          font-weight: bold;
          color: $body-bg;
          transition: All 0.3s ease;
          -webkit-transition: All 0.3s ease;
          -moz-transition: All 0.3s ease;
          -o-transition: All 0.3s ease;
          border-left: 4px solid transparent;
          text-decoration: none;
          &:hover{
            border-left: 4px solid $body-bg;
            background-color:$brand-secondary;
          }
        }
        &.active{
          &>a{
            background-color:$brand-secondary;
            border-left: 4px solid $body-bg;
          }
        }
        &.header {
          padding: 0;
        }
        &.treeview ul li{
          a{
            border-right: 4px solid transparent;
            border-left: 0;
            text-decoration: none;
            font-weight: bold;
            color: $brand-main-text;
            transition: All 0.3s ease;
            -webkit-transition: All 0.3s ease;
            -moz-transition: All 0.3s ease;
            -o-transition: All 0.3s ease;
            &:hover{
              background-color: transparent;
              border-right: 4px solid $body-bg;
              border-left: 0;
              text-decoration: none;
            }
          }
        }
      }
    }

    /** datapicker **/
    .sidebar-form{
      margin-bottom: 2px;
    }
    .datepicker{
      background-color: $brand-secondary;
      table {
        width: 100%;
        tr th{
          color: $brand-main-text;
          font-size: 75%;
        }
        tr td{
          color: $brand-main;
          font-size: 75%;
        }
        tr td.old,
        tr td.new {
          color: #6D6D6D;
          font-size: 75%;
        }
        tr th:hover,
        tr td.day:hover,
        tr td.day.focused,
        tr td:hover{
          color: $brand-main;
          background: rgba(255,255,255,0.5);
          border-color: $brand-main;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        }
      }
    }
    .datepicker table tr td.active:hover,
    .datepicker table tr td.active:hover:hover,
    .datepicker table tr td.active.disabled:hover,
    .datepicker table tr td.active.disabled:hover:hover,
    .datepicker table tr td.active:focus,
    .datepicker table tr td.active:hover:focus,
    .datepicker table tr td.active.disabled:focus,
    .datepicker table tr td.active.disabled:hover:focus,
    .datepicker table tr td.active:active,
    .datepicker table tr td.active:hover:active,
    .datepicker table tr td.active.disabled:active,
    .datepicker table tr td.active.disabled:hover:active,
    .datepicker table tr td.active.active,
    .datepicker table tr td.active:hover.active,
    .datepicker table tr td.active.disabled.active,
    .datepicker table tr td.active.disabled:hover.active,
    .open .dropdown-toggle.datepicker table tr td.active,
    .open .dropdown-toggle.datepicker table tr td.active:hover,
    .open .dropdown-toggle.datepicker table tr td.active.disabled,
    .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
      color: $brand-main-text;
      background: rgba(109,81,180,0.9);
      border-color: $brand-main;
      font-weight: bold;
    }
  }
  /** content **/
  .content-wrapper{
    background-color: $brand-secondary-text;
  }

  /** form elements **/
  .form-control{
    border-color: $brand-main;
    border-radius: 20px;
  }
  .input-group{
    .input-group-addon{
      border-color: $brand-main;
      border-radius: 20px 0 0 20px;
      border-right: 0;
    }
    .form-control{
      border-left: 0;
    }
  }
  select.form-control{
    option{
      &:checked,
      &:hover{
        color: $brand-main-text !important;
        background-color: $brand-main !important;
        box-shadow: 0 0 10px 100px $brand-main inset !important;
      }
    }
  }
  select.form-control:focus > option:checked,
  select.form-control:focus > option:hover {
    color: $brand-main-text !important;
    background-color: $brand-main !important;
    box-shadow: 0 0 10px 100px $brand-main inset !important;
  }
  /** diff **/
  .jumbotron,
  .well {
    background-color: #fff;
  }
  /** tables **/
  .table.table-striped{
    & > tbody > tr:nth-of-type(odd) {
      background-color: #E5E5E5;
    }
    thead{
      tr,
      tr th{
        background-color: #A39EAF;
        color: $brand-main-text;
      }
    }
  }


}
/** paginator**/
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: $brand-main-text;
  background-color: $brand-main;
  border-color: $brand-main-hover;
}
.pagination > li > a, .pagination > li > span {
  color: $brand-main;
  background-color: $brand-main-text;
  border: 1px solid #ddd;
}

/** collapsed sidebar **/
body.skin-orange{
  &.sidebar-mini{
    .main-sidebar .sidebar .sidebar-toggle{
      .fa-arrow-left{
        display: block;
      }
      .fa-arrow-right{
        display: none;
      }
    }
    &.sidebar-collapse{
      .main-sidebar .sidebar .sidebar-toggle{
        .fa-arrow-left{
          display: none;
        }
        .fa-arrow-right{
          display: block;
        }
      }
    }
  }
  &.sidebar-mini.sidebar-collapse .main-sidebar .user-panel > .info,
  &.sidebar-mini.sidebar-collapse .main-sidebar .user-panel > .links,
  &.sidebar-mini.sidebar-collapse .sidebar-form,
  &.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span,
  &.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu,
  &.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .pull-right,
  &.sidebar-mini.sidebar-collapse .sidebar-menu li.header {
    display: none !important;
    -webkit-transform: translateZ(0);
  }
  &.sidebar-mini.sidebar-collapse .sidebar-menu > li {
    a{
      padding: 15px 5px 15px 15px;
    }
  }
  &.sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 0;
  }
  &.sidebar-mini.sidebar-collapse .main-header .logo {
    width: auto;
  }
}



